* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #000;
  background-color: #007bff;
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
  color: blue;
}

li:hover {
  color: blueviolet;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 50px;
  max-width: 1200px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navbar .logo a:hover {
  color: blueviolet;
}

.navbar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.action_btn {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.action_btn:hover {
  transform: scale(1.05);
  color: blueviolet;
}

.action_btn:active {
  transform: scale(0.95);
}

/* DROPDOWN */
.dropdown {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 60px;
  height: 0;
  width: 200px;
  background: white;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.dropdown.open {
  height: auto;
  display: block;
  max-height: 250px;
}

.dropdown li {
  right: 0.5rem;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown img {
  display: flex;
  width: 40px;
  padding: 0 5px 5px 0;
}

.dropdown a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.dropdown a {
  color: white;
}

.dropdown a:hover {
  color: blueviolet;
}

.dropdown .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown {
    display: block;
  }
}

/* side navbar */
nav {
  position: fixed;
  bottom: 0;
  height: 90vh;
  left: 0;
  background: #fff;
  width: 80px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

nav a .img {
  border-radius: 50px;
}

nav a {
  position: relative;
  padding: 10px;
  display: table;
  color: black;
  width: 220px;
}

nav a:hover {
  color: blue;
}

.logo-1 {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
  width: 100%;
}

.logo-1 img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo-1 span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.logo-2 {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 7px 0 0 4px;
  width: 100%;
}

.logo-2 img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.logo-2 span {
  font-weight: bold;
  padding-left: 17px;
}

.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

nav:hover {
  width: 200px;
  transition: all 0.5s ease;
}

/* content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.content-box {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 900px;
  height: 625px;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

.column {
  width: 250px;
  float: left;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .content-box {
    max-width: 100%;
  }
}

/* navabarbuku*/

.navbar_buku {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_buku .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: blue;
}

.navbar_buku .logo a:hover {
  color: rebeccapurple;
}

.nav-item-1 {
  position: static;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --firstcolor: #f3a446;
  --secondcolor: #a06235;
  --thirdcolor: #141313;
  --fourthcolor: #1d1d1d;
  --whitecolor: #ffffff;
  --bluishe: #151a20;
}

.main-favourite {
  padding: 2rem 15%;
  width: 100%;
}

.favourite-inner {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.inner-favourite {
  flex: 170px;
  background-color: #1d1d1dad;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 1rem 0;
  transition: 1s all ease;
  border-radius: 15px;
}

.inner-favourite:hover {
  background: var(--firstcolor);
}

.inner-favourite .fav-content {
  text-align: center;
}

.inner-favourite .fav-content img {
  width: 20%;
  object-fit: cover;
}

.inner-favourite:hover .fav-content img {
  transform: translateY(-10px);
}

.fav-content h3 {
  color: white;
  font-size: 28px;
}

.fav-content p {
  color: white;
  padding: 1rem 0;
  padding-bottom: 2rem;
}

.fav-content a {
  padding: 0.5rem 2rem;
  color: white;
  text-decoration: none;
  background: var(--firstcolor);
}

.fav-content a:hover {
  background-color: var(--fourthcolor);
}

/* CSS untuk search bar */
.search-container {
  display: flex;
  margin: 20px;
  max-width: 300px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* CSS untuk pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination li {
  margin: 15px 5px;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #000;
  background-color: #f0f0f0;
}

.pagination a:hover {
  background-color: #ddd;
}
